<div class="weatherWidget">
    {{#each partials.weatherContext}}    
        <div class="location">            
            <p><a href="https://yandex.ru/pogoda/moscow/">
                <img src="YaWeather/Logo.svg" alt="{{weatherLogo}}"></a>
                <b>&nbsp;Москва&nbsp;
                <img src="YaWeather/PNG/32/Dark/{{fact.icon}}.png" alt="{{weatherIcon}}">
                &nbsp;{{fact.temp}}&nbsp;&#8451;</b>
            </p>            
            <p>Ощущается как&nbsp;{{fact.feels_like}}&nbsp;&#8451;</p>   
        </div>
    {{/each}} 
</div>